[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = warrior
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = warrior
